<%= form_with model: user do |form| %>
 <% user.errors.full_messages.each do |message|%>
    <div><%=message%></div>
 <%end%>
 <div>
     <%= form.label :username%> <br>
     <%= form.text_field :username, placeholder: "John", value: user.username%>
 </div>
 <div>
     <%= form.label :email, "Your mail here"%> <br>
     <%= form.email_field :email, placeholder: "example@example.com", value: user.email%>
 </div>
 <div>
     <%= form.label :password, "Password:"%> <br>
     <%= form.password_field :password, placeholder:"******"%>
 </div>
 <%= form.submit%>
<%end%>