<%= form_with model: @user do |form| %>
 <div>
     <%= form.label :username%> <br>
     <%= form.text_field :username, placeholder: "John"%>
 </div>
 <div>
     <%= form.label :email, "Your mail here"%> <br>
     <%= form.email_field :email, placeholder: "example@example.com"%>
 </div>
 <div>
     <%= form.label :password, "Password:"%> <br>
     <%= form.password_field :password, placeholder:"******"%>
 </div>
 <%= form.submit%>
<%end%>